#container div {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}
#container {
    width: 500px;
}
.ship{
    background-color: white;
}
.hitship{
    background-color: red;
}
.missedship {
    background-color: black;
}